.App {
  text-align: center;
}

.Review-List {
  display: grid;
  grid-template-rows: 25% 25% 25% 25%;
  grid-template-columns: 25% 25% 25% 25%;
  column-gap: 10px;
}

.Review-Card {
  width: 400px;
  border: 5px;
  border-color: blue;
  border-style: double;
}

.Review-Image {
  width:200px;
  height: 150px;
}
