@import url('https://fonts.googleapis.com/css?family=Heebo:400,700|Open+Sans:400,700');

.App {
  text-align: center;
  background-color: rgb(0, 0, 0);
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(176, 141, 87, 0.7));
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

.loading {
  background-color: #000;
}

/* Homepage CSS */

.homepage-container {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0,0,0,0.7)), url(./images/AdobeStock_421558379.jpeg);
  background-position: center;
  background-size: cover;
  padding-left: 8%;
  padding-right: 8%;
}

.title {
  color: #ddd;
  font-size: 100px;
}

.subtitle {
  font-size: 30px;
}

.blurb {
  padding-top: 5px;
  font-size: 18px;
  line-height: 22px;
}

.row {
  display: flex;
  height: 88%;
  align-items: center;
}
.col {
  flex-basis: 50%;
}

.homepage-card {
  width: 400px;
  height: 460px;
  display: inline-block;
  padding: 15px 25px;
  box-sizing: border-box;
  cursor: pointer;
  margin: 10px 15px;
  background-position: center;
  background-size: cover;
  transition: var(--transition-time);
  border: 0.4vh solid transparent;
  border-radius: 80px;
}

.no1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0,0,0,0.8)), url(./images/alt-reviews-link-flipped.png);
}

.no2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0,0,0,0.8)), url(./images/alt-cat-link.png);
  color: black;
}

.homepage-card:hover {
  transform: translateY(-10px);
}

h4 {
  color: #fff;
  text-shadow: 0 0 15px #000;
  font-size: 50px;
  padding-top: 30px;
}

/* NavBar CSS */

.navbar {
  height: 12%;
  display: flex;
  align-items: center;
  padding-left: 4%;
  padding-right: 8%;
  box-sizing: border-box;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}

.logo {
  width: 100px;
  cursor: pointer;
}

nav {
  flex: 1;
  text-align: right;
}

.navbar-links {
  list-style: none;
  display: inline-block;
  margin-left: 40px;
  text-decoration: none;
  font-size: 17px;
}

.navbar-links:hover {
  transform: translateY(-5px);
}

.login {
  color: rgba(176, 141, 87, 0.7);
  padding-left: 50px;
  font-size: 20px;
  }

/* Reviews CSS */

body {
  margin: 0;
  min-height: 100vh;
  font-family: 'Open Sans';
  background: #fafafa;
}

a {
  color: inherit;
}

:root {
  --color: #b08d57;
  --transition-time: 0.5s;
}

.cards-wrapper {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 4rem;
  padding: 4rem;
  margin: 0 auto;
  width: max-content;
}

.card {
  font-family: 'Heebo';
  --bg-filter-opacity: 0.5;
  background-image: linear-gradient(rgba(0,0,0,var(--bg-filter-opacity)),rgba(0,0,0,var(--bg-filter-opacity))), var(--bg-img);
  height: 20em;
  width: 15em;
  font-size: 1.5em;
  color: rgb(255, 255, 255);
  border-radius: 1em;
  padding: 1em;
  /* margin: 2em; if they need to be spaced out more */
  display: flex;
  align-items: flex-end;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 5em -1em black;
  transition: all, var(--transition-time);
  position: relative;
  overflow: hidden;
  border: 10px solid #ccc;
  text-decoration: none;
}

.card:hover {
  transform: rotate(0);
}

.card h1 {
  margin: 0;
  font-size: 1.5em;
  line-height: 1.2em;
}

.card p {
  font-size: 0.75em;
  font-family: 'Open Sans';
  margin-top: 0.5em;
  line-height: 2em;
}

.card .tags {
  display: flex;
}

.card .tags .tag {
  font-size: 0.75em;
  background: rgba(255,255,255,0.5);
  border-radius: 0.3rem;
  padding: 0 0.5em;
  margin-right: 0.5em;
  line-height: 1.5em;
  transition: all, var(--transition-time);
}

.card:hover .tags .tag {
  background: var(--color);
  color: rgb(255, 255, 255);
}

.card .date {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.75em;
  padding: 1em;
  line-height: 1em;
  opacity: .8;
}

.card:before, .card:after {
  content: '';
  transform: scale(0);
  transform-origin: top left;
  border-radius: 50%;
  position: absolute;
  left: -50%;
  top: -50%;
  z-index: -5;
  transition: all, var(--transition-time);
  transition-timing-function: ease-in-out;
}

.card:before {
  background: #ddd;
  width: 250%;
  height: 250%;
}

.card:after {
  background: rgb(0, 0, 0);
  width: 200%;
  height: 200%;
}

.card:hover {
  color: var(--color);
}

.card:hover:before, .card:hover:after {
  transform: scale(1);
}

.card-grid-space .num {
  font-size: 3em;
  margin-bottom: 1.2rem;
  margin-left: 1rem;
}

.card-link {
  text-decoration: none;
}

.info {
  font-size: 1.2em;
  display: flex;
  padding: 1em 3em;
  height: 3em;
}

.info img {
  height: 3em;
  margin-right: 0.5em;
}

.info h1 {
  font-size: 1em;
  font-weight: normal;
}

/* Reviews/review_id CSS */

.review_img {
  width: 400px;
}

.review_title {
  color:white
}

.review_details {
  color:white
}

.review_votes {
  color:white
}

.review_body {
  color:white
}

/* Media Queries */
@media screen and (max-width: 1285px) {
  .cards-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 900px) {
  .cards-wrapper {
    grid-template-columns: 1fr;
  }
  .info {
    justify-content: center;
  }
  .card-grid-space .num {
    margin-left: 0;
    text-align: center;
  }
}

@media screen and (max-width: 500px) {
  .cards-wrapper {
    padding: 4rem 2rem;
  }
  .card {
    max-width: calc(100vw - 4rem);
  }
}

@media screen and (max-width: 450px) {
  .info {
    display: block;
    text-align: center;
  }
  .info h1 {
    margin: 0;
  }
}
