@import url('https://fonts.googleapis.com/css?family=Heebo:400,700|Open+Sans:400,700');

.App {
  text-align: center;
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(176, 141, 87, 0.7));
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

.loading {
  background-color: #000;
}

/* Homepage CSS */

.homepage-container {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0,0,0,0.7)), url(./images/AdobeStock_421558379.jpeg);
  background-position: center;
  background-size: cover;
  padding-left: 8%;
  padding-right: 8%;
}

.title {
  color: #ddd;
  font-size: 100px;
}

.subtitle {
  font-size: 30px;
}

.blurb {
  padding-top: 5px;
  font-size: 18px;
  line-height: 22px;
}

.row {
  display: flex;
  height: 88%;
  align-items: center;
}
.col {
  flex-basis: 50%;
}

.homepage-card {
  width: 400px;
  height: 460px;
  display: inline-block;
  padding: 15px 25px;
  box-sizing: border-box;
  cursor: pointer;
  margin: 10px 15px;
  background-position: center;
  background-size: cover;
  transition: var(--transition-time);
  border: 0.4vh solid transparent;
  border-radius: 80px;
}

.no1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0,0,0,0.8)), url(./images/alt-reviews-link-flipped.png);
}

.no2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0,0,0,0.8)), url(./images/alt-cat-link.png);
  color: black;
}

.homepage-card:hover {
  transform: translateY(-10px);
}

h4 {
  color: #fff;
  text-shadow: 0 0 15px #000;
  font-size: 50px;
  padding-top: 30px;
}

/* NavBar CSS */

.navbar {
  height: 12%;
  display: flex;
  align-items: center;
  padding-left: 4%;
  padding-right: 8%;
  box-sizing: border-box;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}

.logo {
  width: 100px;
  cursor: pointer;
}

nav {
  flex: 1;
  text-align: right;
}

.navbar-links {
  list-style: none;
  display: inline-block;
  margin-left: 40px;
  text-decoration: none;
  font-size: 17px;
}

.navbar-links:hover {
  transform: translateY(-5px);
}

.login {
  color: rgba(176, 141, 87, 0.7);
  padding-left: 50px;
  font-size: 20px;
  }

.navbar-avatar {
  width: 5em;
  border-radius: 100%;
  margin-left: 40px;
  padding-left: 30px;
}

.navbar-links-username {
  color: rgba(176, 141, 87, 0.7);
  margin-left: 10px;
  font-size: 25px;
  text-decoration: none;
}

/* Reviews CSS */

body {
  margin: 0;
  min-height: 100vh;
  font-family: 'Open Sans';
  background: #fafafa;
}

a {
  color: inherit;
}

:root {
  --color: #b08d57;
  --transition-time: 0.5s;
}

.cards-wrapper {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 4rem;
  padding: 4rem;
  margin: 0 auto;
  width: max-content;
}

.card {
  font-family: 'Heebo';
  --bg-filter-opacity: 0.5;
  background-image: linear-gradient(rgba(0,0,0,var(--bg-filter-opacity)),rgba(0,0,0,var(--bg-filter-opacity))), var(--bg-img);
  height: 20em;
  width: 15em;
  font-size: 1.5em;
  color: rgb(255, 255, 255);
  border-radius: 1em;
  padding: 1em;
  /* margin: 2em; if they need to be spaced out more */
  display: flex;
  align-items: flex-end;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 5em -1em black;
  transition: all, var(--transition-time);
  position: relative;
  overflow: hidden;
  border: 10px solid #ccc;
  text-decoration: none;
}

.card:hover {
  transform: rotate(0);
}

.card h1 {
  margin: 0;
  font-size: 1.5em;
  line-height: 1.2em;
}

.card p {
  font-size: 0.75em;
  font-family: 'Open Sans';
  margin-top: 0.5em;
  line-height: 2em;
}

.card .tags {
  display: flex;
}

.card .tags .tag {
  font-size: 0.75em;
  background: rgba(255,255,255,0.5);
  border-radius: 0.3rem;
  padding: 0 0.5em;
  margin-right: 0.5em;
  line-height: 1.5em;
  transition: all, var(--transition-time);
}

.card:hover .tags .tag {
  background: var(--color);
  color: rgb(255, 255, 255);
}

.card .date {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.75em;
  padding: 1em;
  line-height: 1em;
  opacity: .8;
}

.card:before, .card:after {
  content: '';
  transform: scale(0);
  transform-origin: top left;
  border-radius: 50%;
  position: absolute;
  left: -50%;
  top: -50%;
  z-index: -5;
  transition: all, var(--transition-time);
  transition-timing-function: ease-in-out;
}

.card:before {
  background: #ddd;
  width: 250%;
  height: 250%;
}

.card:after {
  background: rgb(0, 0, 0);
  width: 200%;
  height: 200%;
}

.card:hover {
  color: var(--color);
}

.card:hover:before, .card:hover:after {
  transform: scale(1);
}

.card-grid-space .num {
  font-size: 3em;
  margin-bottom: 1.2rem;
  margin-left: 1rem;
}

.card-link {
  text-decoration: none;
}

.info {
  font-size: 1.2em;
  display: flex;
  padding: 1em 3em;
  height: 3em;
}

.info img {
  height: 3em;
  margin-right: 0.5em;
}

.info h1 {
  font-size: 1em;
  font-weight: normal;
}

/* Reviews/review_id CSS */

.review{
  width: 100%;
  height:max-content;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0,0,0,0.7));
  background-position: center;
  background-size: cover;
  padding-left: 8%;
  padding-right: 8%;
}

.review-top {
padding-top: 80px;
padding-bottom: 80px;
display: flex;
align-items: center;
box-sizing: border-box;
}

.review-bottom {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.review_img {
  width: 55em;
  grid-column: span 2;
  grid-row: span 2;
  border-radius: 20%;
}

.review_title {
  font-size: 5em;
}

.review_p {
  padding-left: 10%;
}

.review_votes {
  padding-left: 20rem;
}

.review_body {
  grid-column: span 2;
  font-size: 1.5em;
}

.comments-section h2 {
  font-size: 3em;
  padding-bottom: 0.7em;
}

.comments {
  grid-row: 3;
  grid-column: span 4;
}

.commentAdder {
display: flex;
align-items: center;
box-sizing: border-box;
}

.commentAdder label {
  font-size: 3em;
  padding-right: 5em;
}

.commentAdder-button{
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 0.6em;
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

.commentAdder-button:hover, .commentdelete-button:hover {
  box-shadow: 0 0 40px 40px rgba(176, 141, 87) inset;
}

.commentAdder-button:hover,
.commentAdder-button:focus,
.commentdelete-button:hover,
.commentdelete-button:focus {
  color: rgb(255, 255, 255);
  outline: 0;
}

.comment-textarea {
  width: 500px;
  height: 100px;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.07);
  border-color: -moz-use-text-color #FFFFFF #FFFFFF -moz-use-text-color;
  border-image: none;
  border-radius: 6px 6px 6px 6px;
  border-style: none solid solid none;
  border-width: medium 1px 1px medium;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
  color: #444444;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1em;
  line-height: 1.4em;
  padding: 5px 8px;
  transition: background-color 0.2s ease 0s;
}

.comment-textarea:focus {
  background: none repeat scroll 0 0 #FFFFFF;
  outline-width: 0;
}


/* Footer CSS */

.footer {
  padding-top: 100px;
  background-color: #000;
}

/* loading page CSS */

.loading-page {
  background-color: #000;
}

.loading-h2 {
  padding-bottom: 100px;
  padding-top: 50px;
  font-size: 3em;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  margin-top: 3em;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Media Queries */
@media screen and (max-width: 1285px) {
  .cards-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 900px) {
  .cards-wrapper {
    grid-template-columns: 1fr;
  }
  .info {
    justify-content: center;
  }
  .card-grid-space .num {
    margin-left: 0;
    text-align: center;
  }
}

@media screen and (max-width: 500px) {
  .cards-wrapper {
    padding: 4rem 2rem;
  }
  .card {
    max-width: calc(100vw - 4rem);
  }
}

@media screen and (max-width: 450px) {
  .info {
    display: block;
    text-align: center;
  }
  .info h1 {
    margin: 0;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
