@import url('https://fonts.googleapis.com/css?family=Heebo:400,700|Open+Sans:400,700');

.App {
  text-align: center;
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(176, 141, 87, 0.7));
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

.loading {
  background-color: #000;
}

/* Homepage CSS */

.homepage-container {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0,0,0,0.7)), url(./images/AdobeStock_421558379.jpeg);
  background-position: center;
  background-size: cover;
  padding-left: 8%;
  padding-right: 8%;
}

.title {
  color: #ddd;
  font-size: 100px;
}

.subtitle {
  font-size: 30px;
}

.blurb {
  padding-top: 5px;
  font-size: 18px;
  line-height: 22px;
}

.row {
  display: flex;
  height: 88%;
  align-items: center;
}
.col {
  flex-basis: 50%;
}

.homepage-card {
  width: 400px;
  height: 460px;
  display: inline-block;
  padding: 15px 25px;
  box-sizing: border-box;
  cursor: pointer;
  margin: 10px 15px;
  background-position: center;
  background-size: cover;
  transition: var(--transition-time);
  border: 0.4vh solid transparent;
  border-radius: 80px;
}

.no1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0,0,0,0.8)), url(./images/alt-reviews-link-flipped.png);
}

.no2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0,0,0,0.8)), url(./images/alt-cat-link.png);
  color: black;
}

.homepage-card:hover {
  transform: translateY(-10px);
}

h4 {
  color: #fff;
  text-shadow: 0 0 15px #000;
  font-size: 50px;
  padding-top: 30px;
}

/* NavBar CSS */

.navbar {
  height: 12%;
  display: flex;
  align-items: center;
  padding-left: 4%;
  padding-right: 8%;
  box-sizing: border-box;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  flex-wrap: wrap;
}

.navbar a {
  color: #ffffff;
  font-size: 19px;
}

.logo {
  width: 100px;
  cursor: pointer;
}

nav {
  flex: 1;
  text-align: right;
}

.navbar-links {
  list-style: none;
  display: inline-block;
  margin-left: 40px;
  text-decoration: none;
  font-size: 17px;
}

.navbar-links:hover {
  transform: translateY(-5px);
}

.login {
  color: rgba(176, 141, 87, 0.7);
  padding-left: 50px;
  font-size: 20px;
  }

.navbar-avatar {
  width: 5em;
  border-radius: 100%;
  margin-left: 40px;
  padding-left: 30px;
}

.navbar-links-username {
  color: rgba(176, 141, 87, 0.7);
  margin-left: 10px;
  font-size: 25px;
  text-decoration: none;
}

/* Reviews CSS */

#hexGrid {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  font-family: sans-serif;
  list-style-type: none;
  padding-top: 20px;
}

.hex {
  position: relative;
  visibility:hidden;
  outline:1px solid transparent; /* fix for jagged edges in FF on hover transition */
  transition: all 0.5s;
  backface-visibility: hidden;
  will-change: transform;
  transition: all 0.5s;
}
.hex::after{
  content:'';
  display:block;
  padding-bottom: 86.602%;  /* =  100 / tan(60) * 1.5 */
}
.hexIn{
  position: absolute;
  width:96%;
  padding-bottom: 110.851%; /* =  width / sin(60) */
  margin: 2%;
  overflow: hidden;
  visibility: hidden;
  outline:1px solid transparent; /* fix for jagged edges in FF on hover transition */
  -webkit-transform: rotate3d(0,0,1,-60deg) skewY(30deg);
      -ms-transform: rotate3d(0,0,1,-60deg) skewY(30deg);
          transform: rotate3d(0,0,1,-60deg) skewY(30deg);
    transition: all 0.5s;
}
.hexIn * {
  position: absolute;
  visibility: visible;
  outline:1px solid transparent; /* fix for jagged edges in FF on hover transition */
}
.hexLink {
    display:block;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    overflow: hidden;
    -webkit-transform: skewY(-30deg) rotate3d(0,0,1,60deg);
        -ms-transform: skewY(-30deg) rotate3d(0,0,1,60deg);
            transform: skewY(-30deg) rotate3d(0,0,1,60deg);
}




/*** HEX CONTENT **********************************************************************/
.hex img {
  left: -100%;
  right: -100%;
  width: auto;
  height: 100%;
  margin: 0 auto;
}

.hex h1, .hex p {
  width: 100%;
  padding: 5%;
  box-sizing:border-box;
  font-weight: 300;
  opacity: 0;
}

#demo1 {
  color: #F5CE95;
  text-transform: capitalize;
    text-align: center;
  bottom: 50%;
  padding-top:50%;
  font-size: 1.5em;
  z-index: 1;
}
.hex h1:before, .hex h1:after {
  display: inline-block;
  margin: 0 0.5em;
  width: 0.25em;
  height: 0.03em;
  background: #ffffff;
  content: '';
  vertical-align: middle;
  transition: all 0.3s;
  text-align:center;
}

#demo2 {
top: 50%;
text-align: center;
text-transform: uppercase;
    
}

#demo3 {
  top: 60%;
  text-align: center;
  text-transform: uppercase;  
}

#demo4 {
    top: 70%;
    text-align: center;
    text-transform: uppercase;  
}

.img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-position: center center;
  background-size: cover;
  filter: brightness(80%);
  overflow: hidden;
-webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.img:before, .img:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
  opacity: 0;
  transition: opacity 0.5s;
}
.img:before {
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0,0,0,0.9));
}
.img:after {
  background: linear-gradient(to top, transparent, rgba(0, 0, 0, 0.5), transparent);
}

/*** HOVER EFFECT  **********************************************************************/



.hexLink:hover h1, .hexLink:focus h1,
.hexLink:hover p, .hexLink:focus p{
opacity:1;
transition: 0.8s;
}


.hexIn:hover .img:before,
.hexIn:hover .img:after,
.hexIn:hover .hexLink {
  opacity: 1;
}


/* Reviews/review_id CSS */

.review{
  width: 100%;
  min-height: 100vh;
  height: max-content;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0,0,0,0.7));
  background-position: center;
  background-size: cover;
  padding-left: 8%;
  padding-right: 8%;
}

.review-top {
padding-top: 80px;
padding-bottom: 80px;
display: flex;
align-items: center;
box-sizing: border-box;
}

.review-bottom {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.review_img {
  width: 55em;
  grid-column: span 2;
  grid-row: span 2;
  border-radius: 20%;
}

.review_title {
  font-size: 5em;
}

.review_p {
  padding-left: 10%;
}

.review_votes {
  padding-left: 20rem;
}

.review_body {
  grid-column: span 2;
  font-size: 1.5em;
}

.comments-section h2 {
  font-size: 3em;
  padding-bottom: 0.7em;
}

.comments {
  grid-row: 3;
  grid-column: span 4;
}

.commentAdder {
display: flex;
align-items: center;
box-sizing: border-box;
}

.commentAdder label {
  font-size: 3em;
  padding-right: 5em;
}

.commentAdder-button{
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 0.6em;
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

.commentAdder-button:hover, .commentdelete-button:hover {
  box-shadow: 0 0 40px 40px rgba(176, 141, 87) inset;
}

.commentAdder-button:hover,
.commentAdder-button:focus,
.commentdelete-button:hover,
.commentdelete-button:focus {
  color: rgb(255, 255, 255);
  outline: 0;
}

.comment-textarea {
  width: 500px;
  height: 100px;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.07);
  border-color: -moz-use-text-color #FFFFFF #FFFFFF -moz-use-text-color;
  border-image: none;
  border-radius: 6px 6px 6px 6px;
  border-style: none solid solid none;
  border-width: medium 1px 1px medium;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
  color: #444444;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1em;
  line-height: 1.4em;
  padding: 5px 8px;
  transition: background-color 0.2s ease 0s;
}

.comment-textarea:focus {
  background: none repeat scroll 0 0 #FFFFFF;
  outline-width: 0;
}


/* Footer CSS */

.footer {
  min-height: 5vh;
  background-color: #000;
}

/* loading page CSS */

.loading-page {
  background-color: #000;
  width: 100%;
  height: 80vh;
  min-height: 100vh;
}

.loading-h2 {
  padding-bottom: 100px;
  padding-top: 50px;
  font-size: 3em;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  margin-top: 3em;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Login page CSS */

.login-page {
  width: 100%;
  height: 100vh;
  min-height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0,0,0,0.9)), url(./images/AdobeStock_421558379.jpeg);
  background-position: center;
  background-size: cover;
  padding-left: 8%;
  padding-right: 8%;
}

.login-page h1 {
  font-size: 100px;
  padding-top: 30px;
  margin-bottom: -50px;
}

.login-form-box {
  display: flex;
  justify-content: center;
  height: 500px;
  align-items: center;
}

.login-form {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 10px;
  width: 400px;
}

.login-page input {
  padding: 10px;
  font-size: 18px;
}

.flex-input {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.login-page label {
  flex-basis: 130px;
  margin-top: 10px;
  font-size: 20px;
}

.login-page button {
  width: 100%;
  font-size: 20px;
  padding: 10px;
  background-color: #b08d57;
  border: none;
  margin: 10px 0;
  color: #000;
}

.login-page button:hover {
  cursor: pointer;
  background-color: #000000;
  color: white;
}

.extras-flex-container {
  display: flex;
}

.extras-flex-container div {
  flex: 1;
}

.extras-flex-container a {
  text-decoration: none;
}

.extras-flex-container a:hover {
  color:#000000;
}

.extras-flex-container span{
padding-left: 5px;
}

.create-account h1 {
  font-size: 100px;
  padding-top: 0px;
  margin-bottom: 20px;
}

.create-account button {
  width: 50%;
}

.create-account button:hover {
  cursor: pointer;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}

/* UserPage CSS */

.userpage {
  display: flex;
  width: 100%;
  min-height: 100vh;
  height: max-content;
  padding-left: 8%;
  padding-right: 8%;
  flex-direction: column;
}

.user-profile-img {
  width: 300px;
  height: 300px;
  border-radius: 100%;
}

.userdetails {
  display: flex;
  justify-content: center;
  height: 500px;
  width: 100%;
  align-items: center;
}

.userdetails h2 {
  font-size: 80px;
  padding-bottom: 20px;
}

.user-page-add-review {
  margin-top: 30px;
}

.user-page-add-review button {
  width: 30%;
  font-size: 20px;
  padding: 10px;
  background-color: #b08d57;
  border: none;
  margin: 10px 0;
  color: #000;
  border-radius: 25px;
}

.user-page-add-review button:hover {
  cursor: pointer;
  background-color: #000000;
  color: white;
}

.userpage h3 {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Media Queries */

@media all and (max-width: 480px) {
  .flex-input {
    flex-direction: column;
  }
  label, h1 {
    flex-basis: 0;
  }
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/*** HEXAGON SIZING AND EVEN ROW INDENTATION *****************************************************************/
@media (min-width:1201px) { /* <- 5-4  hexagons per row */
  #hexGrid{
    padding-bottom: 4.4%
  }
  .hex {
    width: 20%; /* = 100 / 5 */
  }
  .hex:nth-child(9n+6){ /* first hexagon of even rows */
    margin-left:10%;  /* = width of .hex / 2  to indent even rows */
  }
}

@media (max-width: 1200px) and (min-width:901px) { /* <- 4-3  hexagons per row */
  #hexGrid{
    padding-bottom: 5.5%;
    font-size: 13px;
  }
  .hex {
    width: 25%; /* = 100 / 4 */
  }
  .hex:nth-child(7n+5){ /* first hexagon of even rows */
    margin-left:12.5%;  /* = width of .hex / 2  to indent even rows */
  }
}

@media (max-width: 900px) and (min-width:601px) { /* <- 3-2  hexagons per row */
  #hexGrid{
    padding-bottom: 7.4%;
    font-size: 14px;
  }
  .hex {
    width: 33.333%; /* = 100 / 3 */
  }
  .hex:nth-child(5n+4){ /* first hexagon of even rows */
    margin-left:16.666%;  /* = width of .hex / 2  to indent even rows */
  }
}

@media (max-width: 600px) { /* <- 2-1  hexagons per row */
  #hexGrid{
    padding-bottom: 11.2%;
    font-size: 12px;
  }
  .hex {
    width: 50%; /* = 100 / 3 */
  }
  .hex:nth-child(3n+3){ /* first hexagon of even rows */
    margin-left:25%;  /* = width of .hex / 2  to indent even rows */
  }
}

@media (max-width: 400px) {
    #hexGrid {
        font-size: 8px;
    }
  }